<p id="notice"><%= notice %></p>
<table class="message_thread">
	<tr>
		<td>
			<%= render message_post.author %>
		</td>
		<td>
			<p class="message_poster_author" valign=center>
				<%= message_post.content %>
			</p>
		</td>
	</tr>
</table>