<footer class="footer"> 
  <small> 
    <a href="http://railstutorial.org/">Forum Project</a> 
    by Matthew Follett
  </small> 
  <nav> 
    <ul> 
      <li><a href="https://github.com/MatthewFollett">GitHub</a></li> 
    </ul> 
  </nav> 
</footer>